*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 1.2em;
}

body {
  align-items: center;
  background: #343434;
  color: #fefefe;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  line-height: 140%;
  min-height: 100vh;
}

main {
  font-size: 2rem;
}

.container {
  width: 800px;
  display: block;
  text-align: center;
}

button {
  background-color: hsl(200, 100%, 50%);
  border: 1px solid hsl(200, 100%, 30%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
  width: 100px;
}
