*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 1.2em;
}

body {
  align-items: center;
  background: #343434;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, Arial, sans-serif;
  justify-content: center;
  line-height: 140%;
  min-height: 100vh;
}

main {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
}

#start {
  margin: 20px;
  width: 
}

ul {
  list-style: none;
}

li {
  margin: 10px;
  line-height: 1em;
}
